examples/
node_modules/
.turbo/
dist/
*.log
docs/
.vscode/
scripts/
tests/
tools/
.changeset/
packages/angular/
packages/react/
packages/solid/
packages/svelte/
packages/vue/
tooling/
pnpm-lock.yaml
pnpm-workspace.yaml
turbo.json
vitest.config.ts
.gitignore
assets/
packages/core/src/


